* {
    margin: 0px;
}

@font-face {
    font-family: 'Bodoni';
    src:
    url("assets/BodoniSvtyTwoITCTT-Book.eot"),
    url("assets/BodoniSvtyTwoITCTT-Book.ttf"),
    url("BodoniSvtyTwoITCTT-Book.woff"),
    url("assets/BodoniSvtyTwoITCTT-BookIta.eot"),
    url("BodoniSvtyTwoITCTT-BookIta.ttf"),
    url("assets/BodoniSvtyTwoITCTT-BookIta.woff");
}

nav {
    margin: 85px 107px 75px 107px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/********/
.content {
    width: 100%;
    margin: 0 auto;
    font-family: 'Bodoni';
}
/********/

#top-nav {
    width: 610px;;
    display:flex;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 25px;
}

#bottom-nav {
    width: 517px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 25px
}

a {
    text-decoration: none;
    color: #5B636E;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover, a:active {
    color: #F15C6A
}

hr {
    border-width: 1px;
    width: 749.5px;
    display: flex;
    justify-content: flex-start;
}

p {
    font-size: 28px;
    color: rgb(79, 85, 90);
}

article {
    padding-bottom: 100px;
}

h2 {
    font-size: 200px;
    color: #F15C6A;
    line-height: 190px;
    padding-bottom: 50px;
}

h3 {
    font-size: 85px;
    color: #F15C6A;
}

h4 {
    font-size: 55px;
    color: #F15C6A;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
  
em {
    font-size: 22px;
    font-style: italic
}

img {
    filter: grayscale(100%);
}

.right {
    padding-left: 120px;
}

.right > img{
    position: absolute;
    left: 650px;
}

#headers {
    width: 1440px;
    height: 687px;
    position: relative;
  }
  
#article-img {
    width: 709px;
    height: 689px;
}

.button {
    font-size: 26px;
    padding: 20px 100px 20px 100px;
    color: white;
    background-color: #979797;
    position: absolute;
    top: 500px;
}

.first-article-text {
    position: absolute;
    top: 20px;
    left: 625px;
    width: 618px;
  }

.second-article-text {
    position: absolute;
    top: 20px;
    right: 628px;
    width: 800px;
}

.lists {
    display: flex;
    width: 100%;
    justify-content: center;
}

#column {
    display: flex;
    justify-content: space-between;
    width: 1030px;
}

#column > p {
    width: 500px;
}

#list-items > p, .grey-box > p{
    padding-bottom: 30px;
}

.grey-box {
    font-size: 28px;
    width: 475px;
    padding: 40px 192px 20px 55px;
    background-color: rgb(215,228,231, .5);
}

#small-text {
    width: 468px;
}

#courses {
    top: -110px;
}

#the-program {
    top: -100px;
}

#program-button {
    top: 750px;
}

#meet-the-staff {
    top: 150px
}

/*** Staff ******/

#staff-img {
    width: 720px;
    height: 960px;
}

.staff-text-left {
    position: absolute;
    top: 160px;
    left: 625px;
    width: 618px;
    margin-bottom: 100px;
}

.staff-text-right {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 618px;
    margin-bottom: 100px;
}

#prof-title {
    font-size: 40PX;
    padding: 0;
    font-style: italic;
}

#staff-container {
    width: 1445px;
    height: 968px;
    position: relative
}

/*******Footer******/
footer {
    width: 100%;
    height: 320px;
    background-color: #A6B8BD;
    display: flex;
    justify-content: space-between;
}

#footer-left {
    margin: 80px 0px 76px 111px;
}

#footer-left > img {
    width: 267px;
    height: 165px;
}

#footer-right {
    width: 143px;
    height: 233px;
    margin: 42px 156px 42px 0px;
}

#social-media {
    display: flex;
    justify-content: space-between;
}

#social-media > img {
    filter: grayscale(100%);
    width: 40px;
    height: 40px;
}

#footer-links {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#footer-links > a {
    color: white;
    padding-bottom: 25px;
}
